.vscode/**
.vscode-test/**
typings/**
test/**
src/**
**/*.map
.gitignore
.github/**
tsconfig.json
vsc-extension-quickstart.md
**/*.vsix
**/*.tar.gz
webpack.*.json
.editorconfig
gulpfile.js
tslint.json
webpack.config.js
.DS_Store